
/* Root {{{ */

:root {
    --bearings-font-base-size: 0.8rem;
    --bearings-gutter-width: 0.8rem;
    --bearings-entry-node-toggle-container-size: calc(1 * var(--bearings-font-base-size));
}

.theme-light {
    --bearings-glyph-background: #ffffff20;
    --bearings-counter-shade-01: #00000010;
    --bearings-counter-shade-08: #00000088;
    /* --bearings-node-open-color: #008844; */
    --bearings-node-open-color: #00aa88;
    --bearings-node-closed-color: #dd6644;
    /* --bearings-node-leaf-color: #bb8888; */
    /* --bearings-node-leaf-color: #7890cc; */
    /* --bearings-node-leaf-color: #00000080; */
    --bearings-node-leaf-color: #aa88aa;
    --bearings-guideline-color: #000000;
}

.theme-dark {
    --bearings-glyph-background: #22222288;
    --bearings-counter-shade-01: #ffffff10;
    --bearings-counter-shade-08: #ffffff88;
    --bearings-node-open-color: #00ff88cc;
    --bearings-node-closed-color: #ff8800cc;
    --bearings-node-leaf-color: #aaaa88;
    --bearings-guideline-color: #ffffff;
}


/* }}} */

/* Root container {{{ */

.bearings-main-container {
    font-size: var(--bearings-font-base-size);
    background-color: var(--bearings-counter-shade-01);
    padding: 1rem;
    border-radius: 1rem;
    /* border: solid 1px; */
}

.bearings-main-container .bearings-main-container-body {
}

.bearings-main-container.bearings-main-container-closed .bearings-main-container-body {
    display: none;
}

/* }}} */


/* Root container header {{{ */

.bearings-main-container-header {
    font-size: var(--bearings-font-base-size);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.4rem;
    /* background: var(--background-secondary-alt); */
    background-color: var(--bearings-counter-shade-01);
    /* background-color: var(--background-primary-alt); */
    /* background-color: var(--background-secondary); */
}

.bearings-main-container-header-left {
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bearings-main-container-header-label {
    /* margin-left: 0.5rem; */
    /* padding: 0.5rem; */
    /* border: solid 0.5px; */
    border-radius: 0.4rem;
    width: 100%;
}

.bearings-main-container-header-right {
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* }}} */

/* }}} */

/* General controls {{{ */

input:disabled {
    color: var(--text-faint);
    background: var(--background-secondary);
}

/* }}} */

/* Main entry controls {{{ */

.bearings-control-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 0;
    margin: 0;
    height: 24px;
}

.bearings-control-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 24px;
}


.bearings-control-cell {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bearings-control-row .bearings-control-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 24px;
    margin: 0;
}

.bearings-control-column  .bearings-control-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin: auto;
    width: 24px;
}

.bearings-main-container-header .bearings-control-button {
    height: 20px;
    width: 20px;
}
.bearings-main-container-header .bearings-control-button svg {
    height: 16px;
    width: 16px;
}

.bearings-main-container-header .bearings-control-div-input-container {
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    border-radius: 1rem;
    /* background-color: var(--bearings-counter-shade-01); */
}

.bearings-control-label {
    font-size: 0.6rem;
    font-weight: bold;
    opacity: 0.6;
    margin-right: 10px;
}

.bearings-control-div-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.bearings-control-div-input-control {
    padding: 0;
    margin: 0;
    border: solid 1px;
    border-radius: 0.4rem;
    font-size: 0.8rem;
}

.bearings-toggle-is-false {
}
.bearings-toggle-is-true {
}

.bearings-control-input-number-container {
    display: flex;
    align-items: center;
    margin: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0;
}

.bearings-control-input-number {
    width: 2rem;
    text-align: center;
    margin-right: 0.2rem;
    height: 1.5rem !important;
    border: none !important;
    opacity: 0.6;
    font-size: 0.6rem !important;
}

.bearings-control-input-number-container .is-null
{
    font-size: 1rem !important;
}



.bearings-control-button {
    margin: 0.1rem;
    border: solid 0.5px;
    padding: 0;
    width: 24px;
    height: 24px;
}

.bearings-control-button svg {
    /* height: 8px; */
    /* width: 8px; */
}

.bearings-viewframe-section-header .bearings-control-button {
    height: 16px;
    width: 16px
}

.bearings-viewframe-section-header .bearings-control-button svg {
    height: 10px;
    width: 10px;
}


/* Viewframe {{{ */

.bearings-viewframe {
    margin-top: var(--bearings-font-base-size);
}

.bearings-viewframe-section-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3rem;
}

.bearings-viewframe-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    opacity: 0.8;
}

.bearings-viewframe-section-header .bearings-control-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

/* }}} */

/* Viewport {{{ */

.bearings-viewport {
    background-color: var(--background-primary);
    border: solid 1px;
    border-radius: 0.4rem;
    padding: var(--bearings-font-base-size);
}

/* }}} */

/* Entry frame {{{ */

.bearings-entry-frame {
    display: flex;
    border-radius: 0.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.bearings-entry-head-link-container.bearings-is-focal-file-entry {
    margin-bottom: 0.1rem;
}

/* }}} */

/* Entry frame gutter {{{ */

.bearings-entry-gutter {
    position: relative;
}

.bearings-entry-gutter-head {
    position: relative;
    width: var(--bearings-gutter-width);
    height: var(--bearings-gutter-width);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bearings-entry-gutter-tail {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
}

/* }}} */

/* Guidelines {{{ */

.bearings-entry-guideline {
    position: absolute;
    top: 1rem;
    left: calc( (-1 * var(--bearings-font-base-size)) + 0.25rem);
    width: calc(var(--bearings-gutter-width)/2 + 0.1rem);
    min-height: 0;
    height: calc(100% - 1rem);
    border-right: solid 1px var(--bearings-guideline-color);
    /* border: solid 1px var(--bearings-guideline-color); */
    align-items: start;
    justify-content: center;
    opacity: 0.2;
}

/* }}} */

/* Node relationship container {{{ */

.bearings-entry-node-connection-container {
    position: absolute;
    font-size: calc(var(--bearings-font-base-size) - 0.2rem);
    left: calc( (-1 * var(--bearings-font-base-size)) - 0rem);
    top: 0.40rem;
    width: var(--bearings-gutter-width);
    height: var(--bearings-gutter-width);
    /* left: -0.90rem; */
    padding: 0;
    opacity: 0.7;
    /* margin: 0; */
}

.bearings-entry-node-terminal-container {
    padding: 0;
    margin: 0;
    /* margin-left: 0px; */
    text-align: center;
    /* width: 8px; */
    /* height: 8px; */
    /* border-radius: 8px; */
    /* opacity: 0.6; */
    /* background-color: var(--text-muted); */
    /* border: solid 1px var(--text-muted); */
    overflow: clip;
}

.bearings-entry-node-connection-cell {
}

/* }}} */

/* Node toggle container {{{ */

.bearings-entry-node-toggle-container {
    cursor: pointer;
    position: absolute;
    top: 0.46rem;
    left: -0.65rem;
    width: var(--bearings-entry-node-toggle-container-size);
    height: var(--bearings-entry-node-toggle-container-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.bearings-main-container.bearings-container-codeblock .bearings-entry-node-toggle-container {
    top: 0.38rem;
    left: -0.65rem;
}

/* .bearings-entry-node-toggle-container { */
/*     color: var(--text-muted); */
/*     opacity: 0.6; */
/* } */
.bearings-entry-node-toggle-container {
    color: var(--text-muted);
    font-size: var(--bearings-font-base-size);
    margin-left: 0.2rem;
    opacity: 1.0;
}
.bearings-entry-node-toggle-container svg {
    stroke-width: 3;
}

.bearings-entry-node-toggle-container.bearings-node-closed {
    color: var(--bearings-node-closed-color);
}

.bearings-entry-node-toggle-container.bearings-node-opened {
    color: var(--bearings-node-open-color);
}

.bearings-entry-node-toggle-container.bearings-node-leaf {
    color: var(--bearings-node-leaf-color);
}

/* }}} */

/* Main entry container {{{ */

.bearings-entry-main {
    position: relative;
}

/* }}} */

/* Entry head {{{ */

.bearings-entry-head {
    position: relative;
    top: 0.15rem;
    left: -0.4rem;
}

.bearings-entry-head-link-container {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 0.4rem;
}

.bearings-entry-head-link-container.bearings-is-focal-file-entry {
    /* border: dotted 1px var(--bearings-node-leaf-color); */
    border: solid 1px var(--bearings-node-leaf-color);
    /* border: solid 0.5px; */
}

.bearings-entry-head-link-container.bearings-node-closed {
}

.bearings-entry-head-link-container.bearings-is-focal-file-entry.bearings-node-closed {
    /* border: dotted 1px var(--bearings-node-leaf-color); */
    border: dotted 1px;
}


.bearings-entry-head.bearings-node-closed::after {
    /* content: "⋯"; */
    /* content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-arrow-out-up-right'%3E%3Cpath d='M22 12A10 10 0 1 1 12 2'/%3E%3Cpath d='M22 2 12 12'/%3E%3Cpath d='M16 2h6v6'/%3E%3C/svg%3E"); */
    position: absolute;
    top: 0.3rem;
    right: -0.6rem;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevrons-down'%3E%3Cpath d='m7 6 5 5 5-5'/%3E%3Cpath d='m7 13 5 5 5-5'/%3E%3C/svg%3E");
    opacity: 0.3;
}



.bearings-entry-head-link {
}

.bearings-entry-head-link >  p {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.bearings-entry-head-content {
    display: flex;
    flex-direction: row;
}

.bearings-entry-head-content.bearings-node-closed {
    /* border: dotted 1px; */
    border-bottom: dotted 2px var(--bearings-node-closed-color);
    border-radius: 0;
    margin: 0;
}

/* }}} */

/* Entry glyphs {{{ */

.bearings-entry-glyph-bar-container {
    position: relative;
    /* top: 0.1rem; */
    display: flex;
    flex-direction: column;
    /* border: solid 1px; */
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    min-width: 0;
}

.bearings-entry-glyph-bar-container.bearings-node-closed {
    /* margin-top: 0; */
    /* margin-bottom: 0.3rem; */
}

.bearings-entry-glyph-bar-container.is-empty {
    display: none;
}

.bearings-entry-glyph-bar-cell {
    padding: 0.25rem;
    margin: 0;
    position: relative;
    background: var(--bearings-glyph-background);
    border: solid 1px var(--bearings-counter-shade-08);
    font-size: calc(0.65 * var(--bearings-font-base-size));
    font-weight: 700;
    height: calc(1.4 * var(--bearings-gutter-width));
    margin-right: 0.2rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* }}} */


/* Entry subcontent {{{ */

.bearings-entry-subcontent {
}

.bearings-entry-subcontent.bearings-node-closed {
    display: none;
    border: dashed 2px;
}

/* }}} */


