

:root {
    --bearings-gutter-offset: 0.1em;
    --bearings-font-base-size: 1.0em;
    --bearings-gutter-width: 1.0em;
    --bearings-entry-node-toggle-container-size: calc(1 * var(--bearings-font-base-size));
}

.theme-light {
    --bearings-glyph-background: #ffffff20;
    --bearings-counter-shade-01: #00000010;
    --bearings-counter-shade-04: #00000044;
    --bearings-counter-shade-08: #00000088;
    --bearings-node-open-color: #00aa88;
    --bearings-node-closed-color: #dd6644;
    --bearings-node-leaf-color: #aa88aa;
    --bearings-guideline-color: #000000;
}

.theme-dark {
    --bearings-glyph-background: #22222288;
    --bearings-counter-shade-01: #ffffff10;
    --bearings-counter-shade-04: #ffffff44;
    --bearings-counter-shade-08: #ffffff88;
    --bearings-node-open-color: #00ff88cc;
    --bearings-node-closed-color: #ff8800cc;
    --bearings-node-leaf-color: #aaaa88;
    --bearings-guideline-color: #ffffff;
}

.bearings-main-container {
    background-color: var(--bearings-counter-shade-01);
    padding: 1em;
    border-radius: 1em;
    line-height: 1.5;
}

.bearings-main-container .bearings-main-container-body {
}

.bearings-main-container.bearings-main-container-closed .bearings-main-container-body {
    display: none;
}


.bearings-main-container-header {
    font-size: var(--bearings-font-base-size);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.4em;
    background-color: var(--bearings-counter-shade-01);
}

.bearings-main-container-header-left {
    padding: 0.5em;
    font-weight: bold;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.bearings-main-container-header-label {
    border-radius: 0.4em;
    width: 100%;
}

.bearings-main-container-header-right {
    padding: 0.5em;
    font-weight: bold;
    border-radius: 0.4em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input:disabled {
    color: var(--text-faint);
    background: var(--background-secondary);
}


.bearings-control-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 0;
    margin: 0;
    height: 24px;
}

.bearings-control-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    width: 24px;
}


.bearings-control-cell {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bearings-control-row .bearings-control-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 24px;
    margin: 0;
}

.bearings-control-column  .bearings-control-cell {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin: auto;
    width: 24px;
}

.bearings-main-container-header .bearings-control-button {
    height: 20px;
    width: 20px;
}
.bearings-main-container-header .bearings-control-button svg {
    height: 16px;
    width: 16px;
}

.bearings-main-container-header .bearings-control-div-input-container {
    margin-top: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 1em;
}

.bearings-control-label {
    font-size: 0.6em;
    font-weight: bold;
    opacity: 0.6;
    margin-right: 10px;
}

.bearings-control-div-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.bearings-control-div-input-control {
    padding: 0;
    margin: 0;
    border: solid 1px;
    border-radius: 0.4em;
    font-size: 0.8em;
}

.bearings-toggle-is-false {
}
.bearings-toggle-is-true {
}

.bearings-control-input-number-container {
    display: flex;
    align-items: center;
    margin: 0.2em;
    margin-right: 0.5em;
    margin-left: 0;
}

.bearings-control-input-number {
    width: 2em;
    text-align: center;
    margin-right: 0.2em;
    height: 1.5em !important;
    border: none !important;
    opacity: 0.6;
    font-size: 0.6em !important;
}

.bearings-control-input-number-container .is-null
{
    font-size: 1em !important;
}



.bearings-control-button {
    margin: 0.1em;
    border: solid 0.5px;
    padding: 0;
    width: 24px;
    height: 24px;
}

.bearings-control-button svg {
}

.bearings-viewframe-section-header .bearings-control-button {
    height: 16px;
    width: 16px
}

.bearings-viewframe-section-header .bearings-control-button svg {
    height: 10px;
    width: 10px;
}



.bearings-viewframe {
    margin-top: var(--bearings-font-base-size);
}

.bearings-viewframe-section-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em;
}

.bearings-viewframe-section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8em;
    opacity: 0.8;
}

.bearings-viewframe-section-header .bearings-control-row {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}



.bearings-viewport {
    background-color: var(--background-primary);
    border: solid 1px;
    border-radius: 0.4em;
    padding: var(--bearings-font-base-size);
}



.bearings-entry-frame {
    /* border: solid 1px red; */
    display: flex;
    border-radius: 0.4em;
    font-size: var(--bearings-font-base-size);
    /* font-size: 0.8em; */
    /* padding-top: 0.1em; */
    /* padding-bottom: 0.1em; */
    /* border-left: solid 1px #00000022; */
    /* border-top: solid 1px #00000022; */
    /* border-right: solid 1px #00000022; */
}

.bearings-entry-head-link-container.bearings-is-focal-file-entry {
    /* margin-bottom: 0.1em; */
    /* margin-left: -0.275em; */
}



.bearings-entry-gutter {
    position: relative;
    padding-left: var(--bearings-gutter-offset);
}

.bearings-entry-gutter-head {
    position: relative;
    width: var(--bearings-gutter-width);
    height: var(--bearings-gutter-width);
    display: hidden;
    align-items: center;
    justify-content: center;
}

.bearings-entry-gutter-tail {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 0;
    display: flex;
}



.bearings-entry-guideline {
    position: absolute;

    top: 0.5em;
    left: calc(var(--bearings-gutter-offset) + 0.2em);
    /* left: calc((-1 * var(--bearings-gutter-width)/2) + 0.25em); */
    /* top: 1em; */

    /* left: calc( (-1 * var(--bearings-font-base-size)) + 0.25em); */
    /* width: calc(var(--bearings-gutter-width)/2 + 0.1em); */
    border-left: solid 1.18px var(--bearings-guideline-color);

    min-height: 0;
    /* height: 100%; */
    /* height: calc(100%); */
    /* height: calc(100% - 1.27em); */
    /* height: calc(100% - 1.6em); */
    /* height: 100%; */
    height: calc(100% - 1em);
    opacity: 0.2;
    color: var(--bearings-guideline-color) !important;
}


.bearings-entry-node-connection-container {
    position: absolute;
    /* font-size: calc(var(--bearings-font-base-size) - 0.2em); */
    /* font-size: var(--bearings-font-base-size); */
    /* font-size: 10px; */
    left: calc( (-1 * var(--bearings-font-base-size)) - 0em);
    /* left: calc( (-1 * var(--bearings-font-base-size)) + 0.1em); */
    /* left: calc(-1 * (var(--bearings-gutter-offset) + 0.175em)); */
    /* top: 0.38em; */
    top: -0.1em;
    height: 100%;
    width: var(--bearings-gutter-width);
    padding: 0;
    padding-left: 0.2em;
    opacity: 0.3;
    color: var(--bearings-guideline-color) !important;
    align-items: center !important;
    justify: center !important;
    overflow: hidden;
}
.bearings-entry-node-connection-container p,
.bearings-entry-node-connection-container span,
.bearings-entry-node-connection-container div
{
    font-size: var(--bearings-font-base-size) !important;
}

.bearings-entry-node-terminal-container {
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: clip;
}

.bearings-entry-node-connection-cell {
    position: absolute;
}


.bearings-entry-node-toggle-container {
    cursor: pointer;
    position: absolute;
    top: -0.1em;
    /* left: -0.65em; */
    /* left: -0.2em; */
    left: -0.05em;
    /* width: var(--bearings-entry-node-toggle-container-size); */
    /* height: var(--bearings-entry-node-toggle-container-size); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    color: var(--text-muted);
    font-size: var(--bearings-font-base-size);
    /* opacity: 1.0; */
    z-index: 100;
}

.bearings-entry-node-toggle-container.bearings-node-closed {
    color: var(--bearings-node-closed-color);
}

.bearings-entry-node-toggle-container.bearings-node-opened {
    color: var(--bearings-node-open-color);
}

.bearings-entry-node-toggle-container.bearings-node-leaf {
    color: var(--bearings-node-leaf-color);
}



.bearings-entry-main {
    position: relative;
}

.bearings-entry-main.bearings-is-focal-file-entry::before {
    content: "";
    position: absolute;
    top: -0.1em;
    height: calc(0.1em + 100%);
    left: calc( (-1 * var(--bearings-font-base-size)) - 0em);
    width: calc(1em + 100%);
    border-radius: 0.4em;
    background: var(--bearings-counter-shade-01);
    /* width: 100%; */
    /* box-shadow: -0.9em 0px var(--bearings-counter-shade-01), -1.2em 0px var(--bearings-counter-shade-04); */
    /* box-shadow: -0.9em 0px var(--bearings-counter-shade-01); */
    /* box-shadow: -0.5em 0px var(--bearings-counter-shade-04) ; */
    /* filter: drop-shadow(0.35em 0.35em 0.4em rgba(0, 0, 0, 0.5)); */
}
.bearings-entry-main.bearings-is-focal-file-entry {
    border-radius: 0 0.4em 0.4em 0;
    /* box-shadow: inset 10px 10px 10px 10px var(--bearings-counter-shade-01); */
    /* box-shadow: -0.9em 0px var(--bearings-counter-shade-01), -1.2em 0px var(--bearings-counter-shade-04); */
    /* padding-left: 0; */
    /* padding-top: 0.4em; */
    /* padding-bottom: 0.4em; */
    /* padding-right: 0.4em; */
}


.bearings-entry-head {
    /* border: solid 1px red; */
    position: relative;
    top: 0em;
    left: 0em;
    align-items: flex-start;
    justify-content: flex-start;
}

.bearings-entry-head-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bearings-entry-head-content.bearings-node-closed {
    border-bottom: dotted 2px var(--bearings-node-closed-color);
    border-radius: 0;
    margin: 0;
}


/* .bearings-entry-head-link { */
/*     display: flex; */
/*     flex-direction: column; */
/*     align-items: flex-start; */
/*     justify-content: flex-start; */
/* } */
.bearings-entry-head-link {
    align-items: center;
}


.bearings-entry-head-link-container {
    padding: 0;
    border-radius: 0.4em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: inline-block;
}


.bearings-entry-head-link-container.bearings-is-focal-file-entry {
    /* border: solid 1px var(--bearings-node-leaf-color); */
    /* padding-left: 0.2em; */
    /* padding-right: 0.2em; */
    /* padding-top: 0.1em; */
    /* padding-bottom: 0.1em; */
}

.bearings-entry-head-link-container.bearings-node-closed {
}

.bearings-entry-head-link-container.bearings-is-focal-file-entry.bearings-node-closed {
    border: dotted 1px;
}


.bearings-entry-head.bearings-node-closed::after {
    position: absolute;
    top: 0.3em;
    right: -0.6em;
    color: var(--bearings-node-closed-color);
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevrons-down'%3E%3Cpath d='m7 6 5 5 5-5'/%3E%3Cpath d='m7 13 5 5 5-5'/%3E%3C/svg%3E");
    opacity: 0.3;
}



.bearings-entry-head-link >  p,
.bearings-entry-head-link-container>  p,
.bearings-entry-head-link-title-container >  p,
.bearings-entry-head-link-title-prefix >  p,
.bearings-entry-head-link-title-text >  p
{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.bearings-entry-head-link-title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bearings-entry-head-link-title-container,
.bearings-entry-head-link-title-prefix,
.bearings-entry-head-link-title-text {
    display: inline-block;
}

.bearings-entry-head-link-title-prefix {
    font-size: 90%;
    font-weight: bold;
    opacity: 0.6;
    color: var(--text-muted);
    font-style: italic;
    margin-right: 0.2em;
    /* font-size: 90%; */
    /* color: var(--bearings-node-leaf-color); */
    /* color: var(--text-muted); */
    /* margin-right: 0.2em; */
    /* font-weight: 900; */
}
/* .bearings-entry-head-link-has-title-prefix.bearings-entry-head-link-title-prefix::before { */
/*     font-style: normal; */
/*     color: initial; */
/*     content: "["; */
/* } */
/* .bearings-entry-head-link-title-prefix.bearings-entry-head-link-title-prefix::after { */
/*     font-style: normal; */
/*     color: initial; */
/*     content: "]"; */
/* } */

.bearings-title-prefix-infix-separator {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.bearings-entry-glyph-bar-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    margin-top: 0.1em;
    width: 1.5em;
}

.bearings-entry-glyph-bar-container.bearings-node-closed {
}

.bearings-entry-glyph-bar-container.is-empty {
    display: none;
}

.bearings-entry-glyph-bar-cell {
    margin: 0;
    position: relative;
    font-size: var(--bearings-font-base-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bearings-entry-glyph-inline-container {
    display: inline-block;
}

.bearings-entry-glyph-inline-cell {
    display: inline-block;
    margin-left: 0.2em;
}


.bearings-entry-subcontent {
}

.bearings-entry-subcontent.bearings-node-closed {
    display: none;
    border: dashed 2px;
}

.bearings-data-entry-control-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0;
    margin: 0;
}
.bearings-data-entry-control-cell {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0;
    margin: 0;
    margin-right: 0.1em;
}


.bearings-modal-data-entry-fileinfo {
    /* background-color: var(--bearings-counter-shade-01); */
    display: inline-block;
    flex: 1 1 100%;
    min-width: 100%;
    width: 100%;
    /* float: right; */
    border: solid 0.5px var(--bearings-counter-shade-04);
    padding: 0.4em;
    border-radius: 0.4em;
    margin-bottom: 1.2em;
    /* /1* margin-bottom: 1em; *1/ */
    /* font-size: 0.8em; */
    /* font-weight: bold; */
    /* text-align: center; */
}

.bearings-modal-data-entry-item-label {
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    /* font-size: 0.8em; */
    /* font-weight: bold; */
    /* font-style: italic; */
}

.bearings-modal-data-entry-item-container{
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.bearings-modal-data-entry-value-box {
    width: 100%;
    margin-right: 0.4em;
}

.bearings-modal-data-entry-text-area {
    width: 100%;
    height: 3em;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.bearings-modal-data-entry-item-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.bearings-modal-data-entry-controls-button {
    width: 1em;
    height: 3em;
}


.bearings-modal-data-entry-spanning-button {
}

.bearings-modal-footer {
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.bearings-modal-footer-button {
    margin-left: 0.4em;
}

.bearings-modal-infobox {
    border: solid 0.5px var(--bearings-counter-shade-04);
    border-radius: 0.4em;
    margin-bottom: 1em;
    padding: 1em;
}

.bearings-settings-spanning-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.bearings-settings-spanning-control {
    margin-top: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}


.bearings-settings-inline-section-start,
.bearings-settings-inline-section-mid {
}


.bearings-settings-subinline-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-end; */
    padding: 0;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
}

.bearings-settings-subinline-control {
    margin-top: 0.2em;
    margin-left: 30%;
    margin-right: 30%;
}

